python==3.8.0
numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow==2.4.3
keras==2.0.8
opencv-python
h5py
imgaug
IPython[all]
pycocotools
Werkzeug==1.0.1
Fask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
Jinja2==2.10.1
